@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

body {
    background-color: #1d1d1d;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    background-color: #fff;
}

.navbar .logo {
    width: 50px;
    scale: 1.2;
}

.navbar p {
    font-size: 10px;
}

.chat {
    max-width: 480px;
    height: 100vh;

    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

#messages {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;

    height: 82dvh;
    padding: 10px;
    margin-bottom: 25px;
    scrollbar-width: thin;
}

.chat-container {
    position: relative;
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/826/273/desktop-wallpaper-black-iphone-chat-whatsapp-iphone.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.chat-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 720px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

.train-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.train-form textarea {
    height: 80vh;
    padding: 5px;
    color: #fff;
    border: none;
    background-color: #00000081;
}

.train-form textarea:focus {
    outline: none;
}

.train-form button {
    padding: 10px 15px;
    color: #fff;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    background-color: #0995f3;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.chat-form {
    padding: 10px;
}

.chat-wrapper input {
    padding: 10px 15px;
    width: 100%;
    font-size: 1rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.chat-wrapper input:focus {
    outline: none;
}

.chat-wrapper button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    max-width: 50px;
    padding: 10px 10px;
    background-color: #0995f3;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.chat-bubble {
    width: fit-content;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: small;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.chat-bubble.user {
    align-self: flex-end;
    background-color: #0995f3;
    color: #ffffff;
    border-top-right-radius: 0px;
}

.chat-bubble.bot {
    background-color: #fff;
    color: #000;
    border-top-left-radius: 0px;
}